@import 'bulma/sass/utilities/_all.sass';

.Tabs {
  margin: 0 !important;
  ul {
    background-color: #fff;
    li {
      background-color: $grey-light;
      padding: 10px;
      justify-content: center;
      display: flex;
      &.is-active {
        background-color: #fff;
      }
    }
  }
}
